@import url('../Gilroy/font.css');

:root{
    --piv: 0.09259259259259259vh;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Gilroy', sans-serif;
    color: white;

    user-select: none;
}

